.tree-list {
    width: 300px;
    padding-left: -20px;
    box-shadow: 0 0 4px #333;
    .tree-item {
        margin-left: 20px;
        padding: 2px;
        .tree-title {
            &:hover {
                background: rgba(122, 122, 122, 0.568);
                cursor: pointer;
            }
        }
        img {
            width: 15px;
            height: 15px;
            margin-bottom: 4px;
        }
    }
    & > .tree-item {
        margin-left: 0;
    }
}
